@{
    ViewData["Title"] = "About";
}


<div class="jumbotron"> <h1>About</h1></div>

<div class="container">

    <div class="card about-card">
        <img class="card-img-top" src="https://static1.squarespace.com/static/527d3145e4b069492258528d/t/59e4e7572aeba58698ab6b27/1508173689579/20233071_10203403100554455_7492970202636168133_o.jpg?format=1000w" alt="Card image cap">
        <div class="card-block">
            <p class="card-text">
                I have always had a passion for programming. When I was a teenager, I would spend weeks scripting elaborate mods for video games. In high school and college, I taught myself to program various applications and games in C#. And in my time as a Production Control Technician at EagleView Technologies, I volunteered to help our team by building apps to increase our productivity.
                <br />
                <br />
                After 3+ years at EagleView, I knew I was ready for something new and challenging. I had a friend who found success in a coding bootcamp, so I did some research of my own, and found Epicodus. I took a night class while continuing to work full time, and immediately knew web design was a perfect fit for me. Solving real-world problems, working with teams, and learning new languages reinvigorated my love of programming.
            </p>
        </div>
    </div>


    
</div>